.Header{
  background: #c9c9c9;
  padding: 1rem;
  color: white;
  text-transform: uppercase;
  font-family: sans-serif;
  display: flex;
  justify-content: space-between;
}
  .HeaderLogo{
    border: 1px solid black;
  }
