.posts{
	color: red;
	border: 1px solid blue;
}
  

    .posts__single{
      // border: 1px solid black;
      // color: white;
      // background-color: black;
      // font-size: 3rem;
      // font-family: sans-serif;
      // &:hover{
      //   background-color: white;
      //   color: black;
      // }

    }