.menu{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

  .menuCategories{
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 1rem 2rem;
    text-align: center;
  } 

    .menuCategory{
      margin-bottom: 1rem;
      display: block;
      &:last{
        margin-bottom: 0;
      }
    } 

  .menuClose{
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
  }